@import "./reset.css"; /* 重置样式 */

/* Canvas画布 */
.experience {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.webgl {
  width: 100%;
  height: 100%;
}

.cursor-grab {
  cursor: grab;
}
.cursor-grabbing {
  cursor: grabbing;
}
.loading-pointer {
  cursor: pointer;
}